@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700&display=swap&subset=cyrillic');

body {
    font-family: 'Exo 2', sans-serif;
    background-color: #e5e5e5;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

/* ============== */
/* ====HEADER==== */
/* ============== */
.section_header .headerBlock {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

  .section_header img {
    height: 150px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section_header .contactBlock {
    text-align: center;
    padding: 0 0 25px;
  }

  .section_header .contactBlock a {
    font-size: 18px;
    text-decoration: none;
    color: #362518;
  }

  .section_header .contactBlock span {
    font-size: 12px;
    color: #777777;
  }

  .section_header .bottonBlock {
    text-align: center;
    margin-bottom: 45px;
  }

  .section_header .bottonCall {
    text-transform: uppercase;
    text-decoration: none;
    color: #e67926;
    font-size: 14px;
    border: 1px solid #e67926;
    padding: 15px;
  }

  .section_header .bottonCall:hover {
    background: #e67926;
    color: white;
  }

/* ============== */
/* ====NAVBAR==== */
/* ============== */
.navbar-light .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
}

  .navbar-light .navbar-nav .nav-link:hover {
    background: #e67926;
    color: white;
  }

  .btn:hover {
    background: #e67926;
  }

  .btn-outline-success {
    color: white;
    border-color: #0D6247;
}

/* ============== */
/* ====MENU==== */
/* ============== */
.nav-link {
  display: block;
  padding: .5rem 1rem;
  border-bottom: 1px solid #0D6247;
}

  .myStyle {
    color: #362518;
    text-decoration: none;
    background-color: transparent;
  }

  .myStyle:hover {
    background: #e67926;
    border-left: 5px solid #0D6247;
    color: white;
    border-bottom: 1px solid #e67926;

  }

/* ============== */
/* ====FOOTER==== */
/* ============== */
.section_footer .footerBlock {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

  .section_footer img {
    height: 140px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section_footer .adressBlock {
    padding: 10px;
    margin-top: 35px;
    font-size: 18px;
  }

  .section_footer .adressBlock span {
    font-size: 16px;
    text-decoration: none;
    color: #96D9C8;
  }
